body {margin: 0; display: block;}
#entete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width:600px) {
    #menu {
            flex-basis: 79%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        
        }
}

@media screen and (max-width:600px) {
    #menu {order:2;}
    .heb {
        border-top: none;
        padding: 32px;
        font-weight: 500;
        text-align: center;
        border-bottom: 3px #0065FC solid;
    }
    .act {
        padding: 32px;
        font-weight: 500;
        text-align: center;
        border-top: 3px transparent solid;
        border-bottom: 3px transparent solid;
    }
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo {
    
    padding: 2%;
}

.heb {
    border-top: 3px solid #0065FC;
    padding: 32px;
    font-weight: 500;
    text-align: center;
    border-bottom: 3px transparent solid;
}

.act {
    padding: 32px;
    font-weight: 500;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}

.ins {
    display: flex;
    align-items: center;
    padding: 32px;
    color: #0065FC;
    font-weight: 600;
}

a:link {
    text-decoration: none;
    background-color: transparent;
    color: black;
}
.main {
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
}

h1 {
    font-size: 32px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
}
.grd_titre {
    margin-bottom: 8px;
}

.pti_titre {
    margin-top: 0;
}

.recherche {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.icon {
    background-color: #F2F2F2;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 16px;
    text-align: center;
}

.zone_saisie {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 20px;
    box-sizing: border-box;
    width: 224px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}

.bouton_rechercher {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 16px 16px 0;
    padding: 0 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.filtres {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
}

.filtr {
    margin: 0 32px 16px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.eco {
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-bottom: 16px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    font-weight: bold;
}

.fam {
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-bottom: 16px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    font-weight: bold;
}

.rom {
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-bottom: 16px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    font-weight: bold;
}

.anim {
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-bottom: 16px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    font-weight: bold;
}

.icon-eco {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.icon-fam {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.icon-rom {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.icon-anim {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

#money, #child, #heart, #dog {color: blue}
.economique, .familial, .romantique, .animaux {margin: 0 16px}

.info {
    display: flex;
    align-items: center;
    margin: 16px 0 32px 0;
}

.icon-info {
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    color: blue;
}

.section2 {
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.heb-marseille {
    display: block;
}

.hebergement-principal {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 24px;
    padding: 32px;
    width: 62%;
}

.les-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:20px;
}

.article {
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    width: 30%;
    min-width: 30%;
    margin-bottom: 20px;
}

figure {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 40px;
    margin-right: 40px;
}

.figure {
    margin:0;}

.image-article {
    height: 112px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 16px 16px 0 0;
    border-style: none;
}

h2 {
    display: block;
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: bold;
}

.text-header {margin:0;}

h3 {
    display: block;
    font-size: 18px;
    margin-top: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.nom-art1 {
    margin: 4px 12px 0 12px;
}

p {
    display: block;
    font-size: 18px;
    margin-top: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.description {margin:4px 12px 4px 12px;}

.art1-notation {
    margin: 0 12px 4px 12px;
}

#etoile-grise {color:#d9d9d9;}
#etoile-bleue {color: #0065FC;}
img {border:none}

.contenu-populaire {
    background-color: #F2F2F2;
    border-radius: 24px;
    padding: 32px;
    width: 25%;
    margin-left: 35px;

}

.container-popu {
    display: flex;
    flex-flow: column wrap;
    margin-top:20px;
}

.titre-pop {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#popu {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.popu {
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.image-popu {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.image-pop {
    border-radius: 16px 0 0 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descrip {
    display: flex;
    flex-direction: column;
}

.poplaire {
    margin: 4px 12px 0 12px;
}
.des-pop {
    margin: 4px 12px 4px 12px;
}
.pop-notation {
    margin: 0 12px 4px 12px;
}
.act-titre {
    margin: 19px 24px;
}

.section3 {
    display: block;
}

.page-activites {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5px 0;
    margin-bottom: 50px;
    height: 400px;
}

.art-activite {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    
}

.image-activite {
    position: relative;
    flex: 1;
    height: 350px;
}

#imge {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 400px;
    width: 20%;
}

.image-act {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#imge1 {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-act-modif {
    width: 100%;
    height: 140px;
}

#image-act-modif1 {
    height: 200px;
}

#image-act-modif2 {
    height: 90px;
}

#act-act {
    margin-top: 70px;
}

#deux-en-un {
    width: 100%;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 16px;
    overflow: hidden;
}

.deux-en-un1, .deux-en-un3 {
    margin-bottom: 20px;
}

#text-deux-en-un, #solo {
    display: block;
    font-size: 15px;
    margin-top: 10px;
    margin-block-end: 5px;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
    min-width: 50px;
}

.pied {
    background-color: #F2F2F2;
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.groupe-imp {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
}

.groupe {
    width: 30%;
    padding: 32px 32px;
}

.lien-footer {
    display: block;
    margin: 16px 0;
}